/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&family=Public+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap&text=⟶');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wdth,wght@62..125,100..900');

/* VARIABLES */

:root {
  --yellow: #f4db37;
  --red: #e00d54;
  --green: #39af1b;
  --blue: #0475df;
  --dark-gray: #575757;
  --light-gray: #bebebe;
  --text-color: #000000;
  --bg-color: #fcfcf0;
  --bg-color-reverse: #121618;
  --gradient: linear-gradient(to right, var(--green) 0%, var(--blue) 100%);
  --gradient-reverse: linear-gradient(
    to right,
    var(--red) 0%,
    var(--yellow) 100%
  );
  --accent-color: #f8492b;
  --mono-color: var(--yellow);
  --text-font: 'public sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --mono-font: 'public sans', 'Courier New', Courier, monospace;
  --gutter: 1rem;
}

/* SELECTION */

::selection {
  background: #e0e4e7; /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #e0e4e7; /* Gecko Browsers */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  line-height: 1.5;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 16px;
  scroll-behavior: smooth;
  scroll-padding-top: calc(var(--gutter) * 2);
}

body {
  font-family: var(--text-font);
  font-weight: 400;
  background: var(--bg-color);
  color: var(--text-color);
  transition: 0.2s all ease;
}

#app {
  width: 80%;
  max-width: 1200px;
  padding-top: 5%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(min-content, 1fr) minmax(min-content, 5fr) minmax(
      min-content,
      2fr
    );
  grid-column-gap: calc(var(--gutter) * 2);
  grid-row-gap: calc(var(--gutter) * 2);
  grid-template-areas:
    'logo header links'
    '. about portrait'
    '. projects .';
}

/* #app > * {
  border: 1px solid lightblue;
} */

header {
  grid-area: header;
}

header h2 {
  font-family: var(--mono-font);
  font-weight: 400;
  margin: 0;
  margin-bottom: 0.6em;
  line-height: 1.4;
  font-stretch: 120%;
}

header h2:last-child {
  margin-bottom: 0;
}

#about {
  grid-area: about;
}

#projects {
  grid-area: projects;
}

h3 {
  font-family: var(--mono-font);
  font-weight: 400;
  font-style: italic;
  font-size: 1em;
  padding: 0;
  padding-bottom: var(--gutter);
  margin: 0;
}

.heading {
  background: var(--bg-color);
  display: block;
}

h4 {
  text-transform: capitalize;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  font-weight: 800;
  position: sticky;
  position: -webkit-sticky;
  font-family: var(--mono-font);
  color: var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
  width: fit-content;
  font-stretch: 100%;
}

h4 a {
  text-decoration: none;
}

h4 a::before {
  content: '#';
  opacity: 0.4;
  margin-right: 0.5em;
}

h4 a:hover::before {
  opacity: 0.8;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
  margin-bottom: var(--gutter);
}

section p {
  font-size: 1.1em;
  margin: 0;
  margin-bottom: 0.5em;
}

.project-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-title-container a {
  position: relative;
  height: fit-content;
}

.project-title-container a::before {
  position: absolute;
  top: 80%;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 3px;
  background-image: var(--gradient);
  content: '';
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transform: translateY(90%);
  transform: translateY(90%);
}

.project-name {
  color: black;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 700;
  font-family: var(--mono-font);
}

.description {
  font-size: 1em;
  line-height: 1.5;
  margin: 0.5em 0;
}

.tag {
  font-family: var(--mono-font);
  display: inline-block;
  color: var(--text-color);
  border: 1px dotted var(--light-gray);
  font-size: 0.7em;
  padding: 2px 7px;
  font-weight: 600;
  border-radius: 10px;
  margin-right: 3px;
}

/* h4::after {
  content: '';
  height: 0px;
  border-top: 1px dashed var(--text-color);
  width: 100%;
  opacity: 0.9;
  margin-left: 0.5em;
} */

.circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: var(--gradient-reverse);
  grid-area: logo;
}

.portrait {
  grid-area: portrait;
  height: fit-content;
  position: sticky;
  position: -webkit-sticky;
  top: calc(var(--gutter) * 2);
}

nav {
  grid-area: links;
  height: fit-content;
}

a {
  display: inline-flex;
  color: inherit;
  cursor: pointer;
  white-space: nowrap;
  font-family: inherit;
  font-weight: 500;
  width: fit-content;
}

p a {
  color: var(--text-color);
  text-underline-offset: 0.175em;
}

p a:hover {
  opacity: 0.7;
}

.arrow-link::after {
  font-family: 'Inter';
  content: '\27F6';
  margin-left: 0.25em;
  transition: 0.2s all;
}

.arrow-link {
  font-family: var(--mono-font);
  font-size: 1.1em;
  margin-bottom: 0.4em;
  transition: 0.2s all;
  text-decoration: none;
}

.arrow-link:hover {
  transform: translateX(5px);
}

@media screen and (max-width: 850px) {
  body {
    --gutter: 8px;
  }

  #app {
    width: calc(100% - var(--gutter) * 8);
    border: 1px dotted black;
    grid-template-columns: min-content 1fr;
    grid-template-areas:
      'logo header'
      '. about'
      'portrait links'
      '. projects';
  }
}

@media screen and (max-width: 700px) {
  #app {
    width: calc(100% - var(--gutter) * 4);
    padding-top: calc(var(--gutter) * 4);
    grid-template-columns: min-content 1fr;
    grid-template-areas:
      'logo header'
      '. about'
      'portrait links'
      '. projects';
    display: block;
  }

  .heading {
    display: none;
  }

  #app > * {
    margin: calc(var(--gutter) * 2) 0;
  }

  section {
    max-width: 100vw;
  }
}
