<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Jeev Prayaga</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
    <meta name="description" content="Personal website of Jeev Prayaga, a computer science student at Grinnell College passionate about using code, writing, art, and design to make a positive social impact.">
    <meta name="keywords" content="Jeev, Prayaga, code, writing, art, design, software, social impact">
    <meta name="author" content="Jeev Prayaga">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="icon" type="image/png" href="./assets/favicon.png" sizes="96x96">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/u001" type="text/css"/>
    <link href="https://api.fontshare.com/css?f[]=sentient@1&display=swap" rel="stylesheet">
    <link href="https://api.fontshare.com/css?f[]=supreme@100,101,200,201,300,301,400,401,500,501,700,701,800,801,1,2&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="app">

      <div class="circle">

      </div>

      <div class="heading">
        <h4><a href="#about">about</a></h4>
      </div>
      <div class="heading">
        <h4><a href="#projects">projects</a></h4>
      </div>

      <header>
        <h2>Hi, I'm 
          <span
            class="text-emphasis"
            @mouseover="imgHover = true"
            @mouseleave="imgHover = false"
          >
            Jeev!
          </span>
        </h2>
        <h2>
          I’m passionate about using code, writing, art, and design to make a positive social impact.
        </h2>
      </header>
      <section id="about">
        <h3 class="line">A little about me:</h3>
        <p>
          I’m entering my third year at Grinnell College, where I study computer science.
        <p>
        <p>
          This summer, I'm working as a software engineering intern for a construction technology company called <a href="https://mosaic.us" target="_blank">Mosaic.</a>
        </p>
        <p>
          I'm also volunteering as a developer on an app called WASHFIT for the World Health Organization.
        </p>
      </section>
      <section id="projects">
        <h3 class="line">Some things I've made recently:</h3>
        <ul class="featured">
          <li
            v-for="project in featuredProjects"
            @mouseover="currentProject = project"
            @mouseleave="currentProject = null"
          >
            <div class="project-title-container">
              <a :href="project.title.url" class="project-name link-slideup" target="_blank">
                {{ project.title.text }}
              </a>
              <div class="tag-group">
                <span class="tag" v-for="tag in project.tags">{{ tag }}</span>
              </div>
            </div>
            <p class="description" v-html="project.description"></p>
          </li>
        </ul>
      </section>

      <nav>
        <div class="external-links">
          <a href="https://www.linkedin.com/in/jeevprayaga" class="arrow-link" target="_blank">
            <span>LinkedIn</span>
          </a>
          <a href="https://github.com/jeevp" class="arrow-link" target="_blank">
            <div class="span">GitHub</div>
          <a href="./assets/jeev_prayaga_resume.pdf" class="arrow-link" target="_blank">
            <div class="span">Resume</div>
          </a>
        </div>
        <div class="alt-portrait"></div>
  
        <footer>
          FOOTER
        </footer>
      </nav>

      <div class="portrait">PORTRAIT</div>

    </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="js/main.js"></script>
  </body>
</html>
